<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\frontend\public\css\styles.css">
    <title>Document</title>
</head>
<body>
    <div class="containerDiv">
        <div class="tabs">
            <div class="infoTab" role="button" id="anemo">Anemo</div>
            <div class="infoTab" role="button" id="geo">Geo</div>
            <div class="infoTab" role="button" id="electro">Electro</div>
            <div class="infoTab" role="button" id="dendro">Dendro</div>
            <div class="infoTab" role="button" id="hydro">Hydro</div>
            <div class="infoTab" role="button" id="pyro">Pyro</div>
            <div class="infoTab" role="button" id="cryo">Cryo</div>
        </div>
        <div class="info">
            <img class="GenshinImg">
            <div class="GenCharacter">
                <div class="CharacterData" id="CharacterDataName"></div>
                <div class="CharacterData" id="CharacterDataWeapon"></div>
            </div>
        </div>
    </div>
<script src="\frontend\public\src\index.js"></script>

</body>
</html>